<% if @task.errors.any? then %>
    <div class="alert alert-danger">
        <ul>
            <% @task.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
<% end %>

<%= form_for @task, html: {class: "form-horizontal"} do |f| %>
    <div class="form-group">
        <%= f.label :title, "Titel *", class: "col-sm-2 control-label" %>
        <div class="col-sm-6">
            <%= f.text_field :title, placeholder: "Prägnante Beschreibung der Aufgabe", class: "form-control" %>
        </div>
    </div>
    <div class="form-group">
        <%= f.label :repository, "Projekt *", class: "col-sm-2 control-label" %>
        <div class="col-sm-6">
            <%= f.select :repository_id, options_from_collection_for_select(@projects, "id", "name", @selected_project_id), { prompt: "Bitte wählen" }, class: "form-control" %>
        </div>
    </div>
    <% if @project then %>
        <div class="form-group">
            <%= f.label :version_id, "Version", class: "col-sm-2 control-label" %>
            <div class="col-sm-6">
                <%= f.select :version_id, @versions.collect {|u| [ u.name, u.id ] },
                                { include_blank: "Keine" }, class: "form-control" %>
            </div>
        </div>
        <div class="form-group">
            <%= f.label :assignee_id, "Bearbeiter", class: "col-sm-2 control-label" %>
            <div class="col-sm-6">
                <%= f.select :assignee_id, @users.collect {|u| [ u.name, u.id ] },
                                { include_blank: "Niemand" }, class: "form-control" %>
            </div>
        </div>
    <% end %>
    <div class="form-group">
        <%= f.label :solved, "Abgeschlossen", class: "col-sm-2 control-label" %>
        <div class="col-sm-6">
            <div class="checkbox">
                <%= f.check_box :solved %>
            </div>
        </div>
    </div>
    <div class="form-group">
        <%= f.label :message, "Beschreibung", class: "col-sm-2 control-label" %>
        <div class="col-sm-6">
            <%= f.text_area :message, placeholder: "Ausführliche Beschreibung", class: "form-control" %>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-6">
            <%= f.submit "Speichern", class: "btn btn-primary" %>
            <%= link_to "Abbrechen", @project ? repository_path(@project) : repositories_path, class: "btn btn-default" %>
            <% if @task.persisted? then %>
                <%= link_to "Löschen", @task, method: :delete,
                                    data: { confirm: "Wollen Sie die Aufgabe wirklich löschen? "}, class: "btn btn-danger" %>
            <% end %>
        </div>
    </div>
<% end %>
