<div class="clearfix">
    <h3 class="pull-left"><%= t('activerecord.models.task.one') %> <%= @task.id %> - <%= @task.title %></h3>
    <div class="pull-right">
        <h3>
            <small>
                <%= t('activerecord.models.repository.one') %> <%= link_to @task.repository.name, repository_path(@task.repository) %>
                <% if @task.version then %>
                    / <%= t('activerecord.models.version.one') %> <%= link_to @task.version.name, repository_path(@task.repository, 'version[]' => @task.version.id) %>
                <% end %>
            </small>
            <%= link_to edit_task_path(@task), class: 'btn btn-default hidden-xs' do %><span class="glyphicon glyphicon-edit"></span> <%= t('edit') %><% end %>
        </h3>
    </div>
</div>

<h4><%= t('description') %></h4>
<div class="row">
    <div class="col-sm-8">
        <% if @task.message.blank? then %>
            <p><em><%= t('no_description') %></em></p>
        <% else %>
            <p><%= @task.message %></p>
        <% end %>
    </div>
    <div class="col-sm-4 text-right">
        <p id="task_author"><%= t('author') %>: <%= user_name_or_nobody @task.author %></p>
        <p id="task_assignee"><%= t('assignee') %>: <%= user_name_or_nobody @task.assignee %></p>
        <p><%= t('created_at') %>: <%= l @task[:created_at], format: :short %></p>
        <p><%= t('last_modification') %>: <%= l @task[:updated_at], format: :short %></p>
        <%= button_to t('solve'), solve_task_path(@task), method: :post, class: 'btn btn-primary', id: 'task_solve' unless @task.solved? %>
    </div>
</div>

<hr />
<h4><%= t('activerecord.models.comment.other') %></h4>

<%= render 'comments/form' %>

<%= render @comments %>
