<h3><%= t('index.welcome') %></h3>
<p><%= t('index.hello') %> <em><%= current_user.name %></em>!</p>

<% if current_user.admin? && all_repositories.count == 0 %>
    <%= render 'first_steps' %>
<% end %>

<% if current_user.repositories.any? then %>
    <h4><%= t('index.projects_accessible') %></h4>
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="col-sm-4"><%= t('activerecord.attributes.repository.name') %></th>
          <th class="col-sm-8 hidden-xs">URL</th>
        </tr>
      </thead>
      <tbody>
        <% current_user.repositories.each do |repository| %>
            <tr>
              <td><%= repository.name %></td>
              <td class="hidden-xs"><a href="<%= repository.url %>"><%= repository.url %></a></td>
            </tr>
        <% end %>
      </tbody>
    </table>
<% end %>

<div class="row">
  <div class="col-md-6">
    <h4><%= t('index.open_assigned_tasks') %></h4>
    <% if current_user.tasks_assigned.any? then %>
        <% if current_user.open_tasks_assigned.any? then %>
            <ul>
              <% current_user.open_tasks_assigned.each do |task| %>
                  <li>
                    <%= link_to task do %>
                        <%= task.repository.name %> - <%= task.title %>
                    <% end %>
                  </li>
              <% end %>
            </ul>
        <% else %>
            <p><%= t('index.no_tasks_assigned') %></p>
        <% end %>
    <% else %>
        <p><%= t('index.no_tasks_yet') %></p>
    <% end %>
    <p><%= t('index.tasks_solved_in_the_past', tasks: pluralize(current_user.closed_tasks_assigned.count, t('activerecord.models.task.one'), t('activerecord.models.task.other'))) %></p>
  </div>

  <div class="col-md-6">
    <h4><%= t('index.tasks_created_by_you') %></h4>
    <% if current_user.open_tasks_authored.any? then %>
        <ul>
          <% current_user.open_tasks_authored.each do |task| %>
              <li>
                <%= link_to task do %>
                    <%= task.repository.name %> - <%= task.title %>
                <% end %>
              </li>
          <% end %>
        </ul>
    <% else %>
        <p><%= t('index.no_tasks_created_by_you') %></p>
    <% end %>
  </div>
</div>
