<h2 class="text-left"><%= t('login.title') %> <small> » Repomgmt</small></h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= render "layouts/flash" %>
    <div class="form-group">
        <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: t('activerecord.attributes.user.email') %>
    </div>

    <div class="form-group">
        <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: t('activerecord.attributes.user.password') %>
    </div>

    <div class="form-group">
        <%= f.submit t('login.login'), class: "btn btn-primary btn-block" %>
    </div>

    <% if devise_mapping.rememberable? -%>
        <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
    <% end -%>

<% end %>

<%= render "devise/shared/links" %>
